.searchContainer {
    width: 300px;
}

.searchInput {
    padding: 8px;
    width: 100%;
    font-size: 16px;
}

.userContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userBox {
    border: 1px solid black;
    width: 90%;
    font-size: 20px;
    padding: 5px;
    transition: background-color 0.2s ease;
}

.userBox:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
