.searchContainer {
    width: 300px;
}

.searchInput {
    padding: 8px;
    width: 100%;
    font-size: 16px;
}

.userContainer {
    text-decoration: none;
}

.userContainer li{
    margin-bottom: 10px;
}

.userBox {
    border: 1px solid black;
    width: 90%;
    font-size: 20px;
    padding: 5px;
}