.sideBar {
    width: 170px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #C0C0C0;
}

.sideBar Link {
    text-decoration: none;
}

.logoImage {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

#logo {
    margin-bottom: 20px;
}

.element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    text-decoration: none;
}

.element:hover {
    background-color: #E0E0E0;
    cursor: pointer;
}

.element p {
    text-decoration: none;
    color: black;
    font-size: 19px;
}

.elementImage {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}