/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./app/admin-dashboard/users/style.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.style_searchContainer__XUJrA {
    width: 300px;
}

.style_searchInput__c0XRX {
    padding: 8px;
    width: 100%;
    font-size: 16px;
}

.style_userContainer__k__nS {
    text-decoration: none;
}

.style_userContainer__k__nS li{
    margin-bottom: 10px;
}

.style_userBox___FvkR {
    border: 1px solid black;
    width: 90%;
    font-size: 20px;
    padding: 5px;
}
